.resume-wrapper {
  border: 1px solid black;
  background-color: whitesmoke;
  width: 600px;
  height: 700px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 40px;
  color: black;
  
  
}

.resume-name {
  text-decoration: underline;
  font-size: 16pt;
}

.personal-info-resume {
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 10px;
}

.resume-title {
  text-align: center;
  font-size: 18pt;
  margin-top: 10px;
  margin-bottom: -40px;
  color: black;
}